# Aria2 RPC Proxy Configuration

# Define an optional RPC Secret to natively secure the /jsonrpc endpoint
ARIA2_RPC_SECRET=MySuperSecretPassword

# Define the server port (Default: 6800)
# PORT=6800

# Optional: Forcibly override the User-Agent globally for all forwarded requests
# USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36"

# Basic Authentication for the Web UI and /api endpoints
# Default initial values fallback to 'hello' and 'world' if these are empty
UI_USERNAME=hello
UI_PASSWORD=world

LOG_LEVEL=debug
