# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Database
requests.sqlite
requests.sqlite-journal
requests.sqlite-shm
requests.sqlite-wal

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# macOS
.DS_Store

.env
