# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build output
dist/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

.env

# Database
data/*.sqlite*
data/*.yaml

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# macOS
.DS_Store

# vscode
.vscode/
